* {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}