<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Цифровая обработка сигналов и изображений</title>
    <link href="../src/styles/style.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
        <h1 style="text-align: center;">Цифровая обработка сигналов и изображений</h1>
        <p style="text-align: center;">Выберите нужный пункт, нажав на одну из кнопок</p>
        <nav>
            <ul>
              <li><a href="furie.html">БПФ</a></li>
              <li><a href="convolution.html">Свертка</a></li>
              <li><a href="correlation.html">Кореляция</a></li>
              <li><a href="reject_filter.html">Режекторный фильтр</a></li>
              <li><a href="wavelet-transform.html">Вейвлет-преобразование</a></li>
            </ul>
        </nav>
    <div>
  </body>
</html>
